.accordion {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &__section--info::before,
  &__section::after {
    position: absolute;
    content: "";
    left: -50%;
    width: 200%;
    height: 1px;
    background-color: #d6d6d6;
  }

  &__dropdown-wrapper {
    position: relative;
    color: #7f7f7f;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 24px;
      width: 8px;
      height: 2px;
      background-color: #d6d6d6;
    }

    &::before {
      right: 2px;
      transform: rotate(45deg);
    }

    &::after {
      right: -3px;
      transform: rotate(-45deg);
    }
  }

  &__section--accordion-opened &__dropdown-wrapper {
    &::before {
      right: 2px;
      transform: rotate(-45deg);
    }

    &::after {
      right: -3px;
      transform: rotate(45deg);
    }
  }

  &__section-heading {
    margin: 0;
    padding: 16px 0;
    color: #7f7f7f;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }

  &__dropdown-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: transparent;
  }

  &__subsection-list {
    @include list-reset;

    display: none;
  }

  &__section--accordion-opened &__subsection-list {
    display: block;
  }

  &__subsection-link {
    display: inline-block;
    padding: 10px 20px;
    padding-left: 0;
    font-size: 14px;
    line-height: 18px;
    color: #7f7f7f;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  @media (min-width: 768px) {
    & {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      padding: 0 16px;
    }

    &__section--info::before,
    &__section::after {
      display: none;
    }

    &__dropdown-wrapper {
      &::before,
      &::after {
        display: none;
      }
    }

    &__subsection-list {
      @include list-reset;

      display: block;
    }

    &__section--store {
      width: 58%;
    }

    &__section--store &__subsection-list {
      display: flex;
      flex-flow: column wrap;
      height: 102px;
    }

    &__section-heading {
      padding: 0;
      font-weight: bold;
    }

    &__dropdown-button {
      display: none;
    }

    &__subsection-link {
      padding: 3px 0;
    }
  }

  @media (min-width: 1024px) {
    & {
      width: 60%;
      padding: 0;
      margin-bottom: 0;
    }

    &__section-heading,
    &__subsection-link {
      color: #48494d;
    }
  }
}
