.banner {
  background-position: center;

  &__link {
    display: block;
    width: 100%;
    padding-top: 28.5%;
    text-decoration: none;
    color: inherit;
    background-image: url("/img/sale50@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
