.banner {
  background-position: center;

  &__link {
    display: block;
    width: 100%;
    padding-top: 28.5%;
    text-decoration: none;
    color: inherit;
    background-image: url("/img/marketing/sale50@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-resolution: 1.5dppx) {
    &__link {
      background-image: url("/img/marketing/sale50@2x.jpg");
    }
  }

  @media (min-width: 768px) {
    & {
      margin: 0 auto;
      padding: 0 16px;
    }

    &__link {
      padding-top: 14.1%;
    }
  }

  @media (min-width: 1024px) {
    & {
      max-width: 1210px;
      padding: 0 20px;
    }
  }
}
