.button {
  display: block;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &__favorite {
    z-index: 10;
    width: 29px;
    height: 26px;
    align-self: center;
    background-image: url("/img/icons/favorites.svg");

    &--active {
      background-image: url("/img/icons/favorites-active.svg");
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__season {
    background-repeat: no-repeat;

    &--summer {
      width: 31px;
      height: 31px;
      background-image: url("/img/icons/sun.svg");
    }

    &--winter {
      width: 28px;
      height: 31px;
      background-image: url("/img/icons/snowflake.svg");
    }
  }

  &__bars {
    width: 20px;
    height: 28px;
    background-image: url("/img/icons/bars.svg");
  }

  &--show-more {
    max-width: 252px;
    margin: 0 auto;
    padding: 17px 0 16px;
    color: #bdbec2;
    background-color: #f0f0f4;
  }

  &--input {
    color: #fff;
    background-color: #ff7931;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: 768px) {
    &__season {
      &--winter {
        width: 36px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
