.categories {
  padding: 0 16px;

  &__list {
    @include list-reset;

    display: grid;
    grid-gap: 30px;
  }

  &__link-wrapper {
    position: relative;
    display: block;
    height: 129px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    color: #48494d;
    text-decoration: none;

    &:active {
      opacity: 0.7;
    }
  }

  &__item-name {
    margin: 0;
    padding-top: 24px;
    padding-left: 19px;
    padding-bottom: 77px;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;

    &:hover {
      color: #ff7931;
      box-shadow: 3px 3px 20px rgba(50 50 50 / 25%);
    }

    &--two-rows {
      padding-right: 36%;
    }
  }

  &__link {
    position: absolute;
    content: "";
    top: 76px;
    left: 9px;
    padding: 10px;
    color: #c4c4c4;

    &::before,
    &::after {
      position: absolute;
      left: 100px;
      content: "";
      width: 8px;
      height: 2px;
      background-color: #c4c4c4;
    }

    &::before {
      top: 19px;
      transform: rotate(45deg);
    }

    &::after {
      top: 24px;
      transform: rotate(-45deg);
    }
  }

  &__icon {
    position: absolute;
    content: "";
    top: 50px;
    right: 21px;
    width: 60px;
    height: 60px;
    background-color: #ff7931;
    border-radius: 50%;

    &::after {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--autochemistry::after {
      top: 10px;
      left: 18px;
      width: 25px;
      height: 38px;
      background-image: url("/img/autochemicals.svg");
    }

    &--tires::after {
      top: 11px;
      left: 11px;
      width: 39px;
      height: 39px;
      background-image: url("/img/tires.svg");
    }

    &--tools::after {
      top: 5px;
      left: 17px;
      width: 27px;
      height: 50px;
      background-image: url("/img/tools.svg");
    }

    &--spares::after {
      top: 14px;
      left: 14px;
      width: 34px;
      height: 34px;
      background-image: url("/img/spares.svg");
    }

    &--autoelectronic::after {
      top: 15px;
      left: 11px;
      width: 38px;
      height: 30px;
      background-image: url("/img/autoelectronic.svg");
    }

    &--accessories::after {
      top: 10px;
      left: 22px;
      width: 18px;
      height: 40px;
      background-image: url("/img/accessories.svg");
    }
  }
}
