.dot-list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  width: 86px;
  margin: 0 auto;

  &__dot {
    width: 14px;
    height: 14px;
    padding: 0;
    background-color: rgba(0 0 0 / 20%);
    border: none;
    border-radius: 50%;

    &--current {
      background-color: #ff7931;
    }
  }
}
