.filter-form {
  &__desktop-options {
    display: none;
  }

  @media (min-width: 768px) {
    & {
      padding-right: 20px;
    }

    &__desktop-options {
      display: block;
    }

    &__mobile-options {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding-right: 30px;
    }
  }
}
