.hamburger {
  position: absolute;
  content: "";
  top: 32px;
  left: 16px;
  display: block;
  width: 33px;
  height: 30px;
  background-color: #fff;
  border: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    width: 33px;
    height: 3px;
    background-color: #c4c4c4;
    box-shadow: 0 12px 0 0 #c4c4c4, 0 24px 0 0 #c4c4c4;
  }
}
