.icon-bar {
  @include list-reset;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103px;
  margin-left: auto;

  &__link {
    display: block;
    margin-bottom: 2px;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    &--card {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: "";
      }

      &::before {
        bottom: -5px;
        right: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff7931;
      }

      &::after {
        bottom: -3px;
        right: -2px;
        content: "1";
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #fff;
      }
    }
  }
}

.no-js .icon-bar {
  display: flex;
  width: 60%;
  margin: 0;
  align-self: center;
}
