.icon-bar {
  @include list-reset;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 103px;
  margin-left: auto;
  padding-right: 9px;

  &__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: block;
    padding-bottom: 7px;
    padding-right: 11px;

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--favorites {
      margin-right: 5px;

      &::before {
        width: 27px;
        height: 25px;
        background-image: url("../img/icons/favorites.svg");
      }
    }

    &--account::before {
      width: 24px;
      height: 26px;
      background-image: url("../img/icons/user.svg");
    }

    &--cart::before {
      width: 29px;
      height: 26px;
      background-image: url("../img/icons/cart.svg");
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  &__cart-counter {
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    background-color: #ff7931;
  }

  @media (min-width: 1024px) {
    & {
      width: 114px;
    }
  }
}

.no-js .icon-bar {
  display: flex;
  width: 60%;
  margin: 0;
  align-self: center;
}
