.logo {
  margin-left: 64px;

  &__img {
    width: 77px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  .no-js & {
    order: -1;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    & {
      position: absolute;
      z-index: 2;
      left: 45%;
      top: 35px;
      transform: translateX(-50%);
    }

    &__img {
      width: 102px;
    }
  }
}
