.logo {
  margin-left: 64px;

  &__img {
    width: 77px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.no-js .logo {
  order: -1;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}
