.menu {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 2;
  width: 242px;
  padding-top: 19px;
  background-color: #fff;
  transform: translateX(-242px);

  .menu-opened & {
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 0 25px rgba(0 0 0 / 15%);
  }

  .no-js & {
    position: static;
    flex-grow: 1;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    transform: translateX(0);
  }

  &__sections {
    @include list-reset;
  }

  &__link {
    position: relative;
    display: block;
    padding: 18px 25px 20px 43px;
    color: #000;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__svg-mobile {
    position: absolute;
    content: "";
    top: 21px;
    left: 16px;

    .menu__link--actions & {
      top: 17px;
    }
  }

  &__address {
    padding: 18px 18px 150px 43px;
  }

  .no-js &__address {
    padding-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__address-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #48494d;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__svg {
    display: none;
  }

  @media (min-width: 1024px) {
    & {
      display: flex;
      justify-content: space-between;
      position: static;
      padding: 0;
      width: 87.3%;
      background-color: #fff;
      transform: translateX(0);
    }

    &__sections:not(.menu__sections-main) {
      display: none;
    }

    &__sections-main {
      display: flex;
      justify-content: space-between;
      padding-right: 102px;
      min-width: 534px;
      width: 56%;
    }

    &__link {
      position: relative;
      display: block;
      padding: 0;
      padding-right: 15px;
      color: #48494d;
      font-weight: bold;

      &::before,
      &::after {
        display: none;
      }
    }

    &__sections-main &__svg-mobile {
      display: none;
    }

    &__address {
      width: 36.3%;
      max-width: 325px;
      padding: 0;

      &-link {
        display: flex;
        justify-content: space-between;
      }
    }

    &__svg {
      display: block;
    }

    .no-js &__address {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}

.menu-opened {
  overflow: hidden;
}
