.menu {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 2;
  width: 242px;
  padding-top: 19px;
  background-color: #fff;
  transform: translateX(-242px);

  &__sections {
    @include list-reset;
  }

  &__link {
    position: relative;
    display: block;
    padding: 18px 25px 20px 43px;
    color: #000;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      top: 21px;
      left: 16px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--enter::before {
      width: 14px;
      height: 15px;
      background-image: url("/img/user-grey.svg");
    }

    &--favorites::before {
      width: 17px;
      height: 15px;
      background-image: url("/img/favorites-grey.svg");
    }

    &--shops::before {
      width: 13px;
      height: 15px;
      background-image: url("/img/shops.svg");
    }

    &--actions::before {
      top: 17px;
      width: 19px;
      height: 25px;
      background-image: url("/img/actions.svg");
    }

    &--delivery::before {
      width: 16px;
      height: 15px;
      background-image: url("/img/delivery.svg");
    }

    &::after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__address {
    padding: 18px 18px 150px 43px;
  }

  .no-js &__address {
    padding-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__address-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #48494d;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.menu-opened {
  overflow: hidden;
}

.menu-opened .menu {
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(0 0 0 / 15%);
}

.no-js .menu {
  position: static;
  flex-grow: 1;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  transform: translateX(0);
}
