.page-header {
  &__container {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 30px 25px 16px 16px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -20vw;
      width: 120vw;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}
