.page-main {
  &__promotion {
    margin-bottom: 83px;
  }

  &__search {
    margin-bottom: 80px;
  }

  &__categories {
    margin-bottom: 84px;
  }

  &__related-products {
    margin-bottom: 80px;
  }

  &__banner {
    margin-bottom: 84px;
  }

  &__breadcrumbs {
    margin-top: 10px;
    margin-bottom: 30px;

    &--product-page {
      margin-bottom: 34px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 23px;
  }

  &__tire-selection {
    margin-bottom: 80px;
  }

  &__info-banner {
    margin-bottom: 80px;
  }
}
