.page-main {
  &__promotion {
    margin-bottom: 83px;
  }

  &__search-form {
    margin-bottom: 80px;
  }

  &__categories {
    margin-bottom: 84px;
  }

  &__related-products {
    margin-bottom: 80px;
  }

  &__banner {
    margin-bottom: 84px;
  }

  &__breadcrumbs {
    margin-top: 10px;
    margin-bottom: 30px;

    &--product-page {
      margin-bottom: 34px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 23px;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__tire-selection {
    margin-bottom: 80px;
  }

  &__product {
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      margin-bottom: 80px;
    }
  }

  &__product-info {
    margin-bottom: 80px;
  }

  &__info-banner {
    margin-bottom: 80px;
  }
}

.menu-opened .page-main {
  position: static;
  transform: translateX(242px);
}
