.page-main {
  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 23px;
  }

  &__breadcrumbs {
    margin: 30px 0 40px;
  }

  &__tire-selection {
    padding-left: 16px;
  }
}
