.pickup-form {
  margin-bottom: 21px;

  &__text-label {
    display: block;
    margin-bottom: 17px;
    font-size: 15px;
    line-height: 17px;

    &:hover {
      opacity: 0.3;
    }
  }

  &__text-input-wrapper {
    position: relative;
  }

  &__text-input {
    margin-bottom: 30px;
    padding: 8px 20px;
    width: 100%;
    font-size: 15px;
    color: #bdbec2;
    border: 1px solid #e0e0e0;

    &:focus {
      font-weight: bold;
      outline: 2px solid #ff7931;
    }
  }

  &__text-submit {
    position: absolute;
    content: "";
    top: 0;
    right: 14px;
    width: 36px;
    height: 37px;
    background-color: transparent;
    background-image: url("/img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  &__radio-label {
    padding-bottom: 7px;
    font-size: 15px;
    line-height: 17px;

    &:hover {
      opacity: 0.3;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__radio-input + &__radio-indicator {
    top: 1px;
    right: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #cdcdcd;
    border-radius: 2px;
  }

  &__radio-input:checked + &__radio-indicator {
    border-color: #ff7931;

    &::before {
      top: 2px;
      left: 2px;
      width: 6px;
      height: 6px;
      background-color: #ff7931;
      border-radius: 1px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &__text-wrapper {
      display: flex;
      align-items: center;
    }

    &__text-label,
    &__radio-label {
      color: #4d4d4d;
      font-size: 17px;
      line-height: 20px;
    }

    &__text-label {
      margin-bottom: 0;
      margin-right: 5px;
    }

    &__text-input {
      margin: 0;
      padding: 9px 17px;
      padding-left: 6px;
      width: 230px;
      font-size: 15px;
      color: #bdbec2;
      border: none;
      background-color: #f4f4f6;
      border-radius: 50px;
    }

    &__text-submit {
      right: 0;
    }

    &__radio-wrapper {
      display: flex;
      align-items: center;
    }

    &__radio-label {
      white-space: nowrap;
      padding-bottom: 0;
      padding-left: 30px;

      &:not(:first-child) {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &::after {
        display: none;
      }
    }

    &__radio-input + &__radio-indicator {
      top: 3px;
      left: 0;
    }
  }

  @media (min-width: 1024px) {
    &__text-label {
      margin-right: 16px;
    }

    &__text-input {
      width: 313px;
      padding: 9px 17px;
    }

    &__text-submit {
      right: 14px;
    }

    &__radio-label {
      &:not(:last-child) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 110px;
      }
    }
  }
}
