.pickup-timetable {
  border-collapse: collapse;
  border-spacing: 0;

  &__headings {
    display: none;
  }

  &__table-row {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:nth-child(n+3) {
      display: none;
    }

    &:last-child {
      margin-bottom: 15px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -20vw;
      width: 120vw;
      height: 1px;
      background-color: rgba(0 0 0 / 10%);
    }
  }

  &__table-data {
    font-size: 15px;
    line-height: 17px;
    color: rgba(0 0 0 / 70%);
    margin-bottom: 15px;

    &:first-child {
      margin-bottom: 11px;
    }

    &:last-child {
      margin-top: 7px;
      margin-bottom: 0;
    }
  }

  &__adress {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &__inner-title {
    margin-bottom: 11px;
    font-weight: bold;
    color: #000;
  }

  &__inner-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  &__inner-table-row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__emphasis {
    display: inline-block;
    margin-bottom: 17px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(0 0 0 / 50%);
  }

  &__button-buy {
    padding: 17px 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
  }

  &__button-show {
    position: relative;
    padding-right: 40px;
    font-size: 16px;
    line-height: 18px;
    color: #ff7931;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 9px;
      width: 8px;
      height: 2px;
      background-color: #bdbec2;
    }

    &::before {
      right: 8px;
      transform: rotate(45deg);
    }

    &::after {
      right: 3px;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: 768px) {
    & {
      width: 100%;
    }

    &__headings {
      display: table-header-group;
    }

    &__heading {
      padding-bottom: 35px;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #000;
      text-align: left;
    }

    &__table-data {
      padding-bottom: 20px;

      &--buy {
        width: 165px;
      }
    }

    &__table-row {
      display: table-row;
      vertical-align: top;
      border-bottom: 1px solid #e6e6e6;

      &::after {
        display: none;
      }

      &:nth-child(n+3) {
        display: table-row;
      }

      &:not(:first-child) .pickup-timetable__table-data {
        padding-top: 20px;
      }
    }

    &__adress {
      width: 220px;
    }

    &__inner-table {
      max-width: 153px;
    }

    &__button-buy {
      width: 142px;
      margin-left: auto;
      padding: 10px 0;
      letter-spacing: 0.12em;
      font-size: 13px;
      line-height: 15px;
    }

    &__inner-title {
      display: none;
    }

    &__emphasis {
      display: none;
    }

    &__button-show {
      display: none;
    }
  }
}
