.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &__attribute {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }

  .promotion__product-sale &__attribute {
    margin-top: 15px;
  }

  &__attribute-new-price {
    font-weight: bold;
    font-size: 27px;
    line-height: 31px;
    color: #ff7931;
  }

  &__attribute-old-price {
    position: relative;
    color: #a8a8a8;

    &::before {
      border-bottom: 1px solid #a8a8a8;
      position: absolute;
      left: -10px;
      top: 2px;
      content: "";
      width: 130%;
      height: 50%;
      transform: rotate(-17deg);
    }
  }

  &__quick-view {
    position: absolute;
    top: 122px;
    left: 22px;
    display: none;
  }

  &__image {
    margin-bottom: 25px;

    &--sale {
      margin-bottom: 15px;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;

    &--sale {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 23px;
      line-height: 26px;
    }
  }

  &__price {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
  }

  &__no-stock {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  &__report-receipt {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 18px;
    color: #ff7931;
    border: 1px solid rgba(255 121 49 / 20%);
  }

  &__card {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    width: 60px;
    height: 40px;
    background-color: #ff7931;
    border-radius: 10px 0 0;

    &::after {
      position: absolute;
      content: "";
      top: 6px;
      left: 18px;
      width: 22px;
      height: 26px;
      background-image: url("/img/product-card.svg");
      background-repeat: no-repeat;
    }
  }

  &__catalog-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f0f4;
  }

  &__countdown {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }

  &__countdown-container {
    display: flex;
  }

  &__countdown-time-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--minutes,
    &--hours {
      margin-right: 8px;

      ::after {
        position: absolute;
        content: ":";
        top: -1px;
        right: -8px;
      }
    }
  }

  &__countdown-time {
    font-weight: bold;
  }

  &__countdown-measure {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    color: #c4c4c4;
  }

  &__dot-list {
    @include list-reset;

    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin: 0 auto;
  }

  &__dot {
    width: 14px;
    height: 14px;
    background-color: rgba(0 0 0 / 20%);
    border-radius: 50%;

    &--current {
      background-color: #ff7931;
    }
  }
}
