.product {
  &__container {
    display: grid;
    justify-items: center;
    padding: 0 16px;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__heading {
    margin: 0;
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 30px;
  }

  &__code {
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    color: #a8a8a8;
  }

  &__buttons {
    @include list-reset;

    display: none;
  }

  &__main {
    position: relative;
    width: 100%;
    padding-top: 25px;
    text-align: center;
  }

  &__attribute-wrapper {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 34px;
    padding-right: 9px;
  }

  &__attribute {
    background-color: transparent;
    margin-left: 20px;

    &--season-winter {
      width: 28px;
      height: 31px;
      background-image: url("/img/snowflake.svg");
      background-repeat: no-repeat;
    }
  }

  &__img {
    margin-bottom: 23px;
  }

  &__price {
    margin: 0;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    width: 288px;
    margin-bottom: 25px;
    padding: 17px 0;
    font-size: 14px;
    line-height: 16px;
  }

  &__low-price {
    font-size: 15px;
    line-height: 17px;
    color: #ff7931;
    text-decoration: none;
    border-bottom: 1px solid rgba(255 121 49 / 20%);
  }

  &__button-buy {
    &--only-desktop {
      display: none;
      padding: 17px 28px 16px;
      color: #fff;
      background-color: #ff7931;
      border-radius: 3px;

      &:hover {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: 768px) {
    &__heading {
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 34px;
    }

    &__code {
      margin-bottom: 20px;
      text-align: center;
    }

    &__buttons {
      display: flex;
      justify-content: center;
    }
  }

  &__buttons-item {
    margin-right: 25px;
  }

  & .tabs__list {
    @include list-reset;

    display: flex;
    gap: 40px;
    margin-bottom: 26px;
  }

  & .tabs__link {
    padding-bottom: 10px;
    color: #000;
    text-transform: none;
    letter-spacing: 0.04em;
    white-space: nowrap;

    &--current {
      color: #48494d;
      font-weight: bold;
      border-bottom: 2px solid #ff7931;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 40px;
    color: #ff7931;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px solid #ffe4d6;

    &:hover {
      opacity: 0.3;
    }
  }

  @media (min-width: 1024px) {
    &__button-buy {
      &--only-desktop {
        display: block;
      }
    }
  }
}
