.related-products {
  &__heading {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    &--index-popular {
      margin-bottom: 19px;
    }

    &--index-additional {
      margin-bottom: 22px;
    }

    &--inner {
      margin-bottom: 32px;
      font-size: 30px;
      line-height: 34px;
    }
  }
}
