.related-products {
  &__heading {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    &--index-popular {
      margin-bottom: 19px;
    }

    &--index-additional {
      margin-bottom: 22px;
    }

    &--inner {
      margin-bottom: 32px;
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__span--mobile {
    display: none;
  }

  & .tabs__list {
    @include list-reset;

    position: relative;
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
    overflow-x: auto;
  }

  & .tabs__link {
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 17px;
    color: #48494d;
    letter-spacing: 0.04em;
    white-space: nowrap;

    &--current {
      border-bottom: 2px solid #ff7931;
    }
  }

  @media (min-width: 768px) {
    &__span--mobile {
      display: inline;
    }
  }

  @media (min-width: 1024px) {
    .catalog & {
      display: none;
    }
  }
}
