.slick-carousel--no-tab {
  padding: 0 25px;
}

.slick-slider {
  position: relative;
  display: block;
  margin: 0 -15px;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-track,
.slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  margin: 10px 15px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: flex;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  @include list-reset;

  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 40px;
}

.slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0 14px;
  background-color: #ccc;
  border-radius: 50%;
}

.slick-dots .slick-active {
  background-color: #ff7931;
}

.slick-dots button {
  font-size: 0;
  background-color: transparent;
  border: none;
}

.slick-dots li:not(:nth-child(-n+3)) {
  display: none;
}
