.tire-selection {
  &__filter-top {
    margin-bottom: 19px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  &__filter-bottom {
    display: none;
    padding: 18px 0 70px;

    @media (min-width: 768px) {
      flex-shrink: 0;
      display: block;
      width: 300px;
      padding: 0;
    }
  }

  &__bottom-wrapper {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__button-more {
    margin-bottom: 50px;
  }
}

.filter-opened .tire-selection__filter-bottom {
  display: block;
}

.filter-opened .page-header,
.filter-opened .page-main > :not(.tire-selection),
.filter-opened .tire-selection > :not(.tire-selection__bottom-wrapper),
.filter-opened .product-grid,
.filter-opened .page-footer {
  display: none;
}
